span#hamburguer {
background-color: black;
display: block;
color: rgb(255, 255, 255);
text-align: center;
padding:10px;

}

span#hamburguer:hover {
background-color: rgb(56, 148, 69);
color: rgb(255, 255, 255);  
cursor: pointer;
}
menu#itens{
    font-optical-sizing: auto;
    background-color: rgb(37, 175, 113);
    color: yellow;
    text-align: center;
    padding: auto;


}

body{
    margin: 10;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(to left,gray,rgb(231, 220, 220));
    color: black;
}

footer{
    background-color: aquamarine;
    font-size: medium arial;
    text-align: center;
    padding: 10px; 
}